<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <title>Index</title>
  <style>
    .index{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    h1{
      font-size: 10rem;
    }

    h5{
      font-size: 2rem;
      text-align: center;
    }

    .row{
    justify-content: center;
    }

    .col{
      align-items: center;
    }

  </style>
</head>
<body>
  <div class="index">
    <div class="index2">
      <h1>CIFRADOS</h1>
      <br>
      <h5>Martínez Zaragoza Alan Gael</h5> 
      <br>
      <div class="d-flex justify-content-evenly">
        <div class="row">
          <div class="col">
          <a href="/cifrar" type="button" class="btn btn-dark">Cifrar</a>
          </div>
          <div class="col">
          <a href="/descifrar" type="button" class="btn btn-dark">Descifrar</a>
          </div>
        </div>
      </div>
  </div>
</body>
</html>